body {
    background-color: #20242C;
    color: #ABB2BF;
    font-family: Nunito;
    font-size: 16px;
    min-width: 5cm;
    padding: 1cm;
}

h1 {
    text-align: center;
    font-variant: small-caps;
    font-size: 36px;
}

#buttons {
    text-align: center;
}

button {
    background-color: #1a1a1a; /* Dark background */
    border: none; /* No border */
    color: #ABB2BF; /* White text */
    padding: 12px 24px; /* Some padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* No underline */
    display: inline-block; /* Displayed as an inline-block element */
    font-size: 20px; /* Font size */
    font-variant: small-caps;
    margin: 4px 2px; /* Margin between buttons */
    cursor: pointer; /* Add cursor on hover */
    border-radius: 50px; /* Rounded border */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); /* Add a subtle box-shadow */
    transition: all 0.3s ease-in-out; /* Add a transition effect */
}

button:hover {
    background-color: #333; /* Darker background on hover */
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25); /* Add a stronger box-shadow on hover */
    transform: translateY(-2px); /* Move the button up slightly on hover */
}

#transcript {
    width: 80%;
    min-height: 1cm;
    padding: 0.5cm 0.25cm;
    margin: auto;
    text-align: center;
    display: block;
    font-size: 18px;
}

.input-text {
    margin: 0;
    padding: 0.3cm;
    background-color: #282C34;
}

.output-text {
    margin: 0;
    padding: 0.3cm;
    background-color: #20242C;
}
